.benefits {
  $this: &;

  display: flex;
  flex-wrap: wrap;
  flex: 0 0 100%;
  justify-content: center;

  #{$this}__titlesGroup {
    align-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    @include desktop {
      justify-content: center;
      flex: 0 0 100%;
      margin-top: vw(138);
    }

    & h2 {
      display: flex;
      flex: 0 0 80%;
      font-size: (21.2vw / 3.75);
      max-width: (190w / 3.75);
      justify-content: flex-start;
      text-align: left;
      margin-top: vwm(50);
      margin-left: vwm(32);

      @include desktop {
        font-size: vw(32);
        font-weight: 500;
        height: vw(31);
        margin-top: unset;
        justify-content: center;
        line-height: 1.875vw;
        margin-left: 0;
        min-width: 100%;
        text-align: center;
      }
    }

    & h3 {
      font-size: (13vw / 3.75);
      flex: 0 0 80%;
      display: flex;
      margin-top: (28vw / 3.75);
      text-align: left;
      word-break: keep-all;
      margin-left: vwm(32);
      margin-bottom: vwm(32);

      @include desktop {
        height: vw(15);
        font-size: vw(15);
        margin-bottom: unset;
        justify-content: center;
        text-align: center;
        margin-left: unset;
        margin-top: vw(25);
        margin-bottom: vw(85);
      }
    }

    #{$this}__hideOnMob {
      display: none;

      @include desktop {
        display: inline;
      }
    }

    #{$this}__break {
      @include desktop {
        display: none;
      }
    }
  }

  &__article {
    display: flex;
    flex: 1 0 100%;
    flex-wrap: wrap;
    justify-content: center;
    background: #fafafa;
    padding-bottom: 5vw;

    @include desktop {
      background: unset;
      padding-bottom: vw(183);
    }

    #{$this}__first {
      display: flex;
      justify-content: flex-start;
      flex: 100%;
      height: vwm(80);
      align-items: center;
      padding-left: vwm(30);

      @include desktop {
        justify-content: center;
        align-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        height: vw(12 + 50 + 127);
        padding-left: 0;
      }
    }

    #{$this}__imgDiv {
      background-size: contain;
      background-repeat: no-repeat;

      @include desktop {
        box-shadow: 0px 0.1vw 2px gray;
        border-radius: 50%;
      }
    }

    &--1 {
      @include desktop {
        flex: unset;
        width: vw(226);
        margin-right: vw(96);
      }

      #{$this}__imgDiv {
        width: vwm(37);
        height: vwm(34);
        background: url("../images/icons/Benefits/ben1.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-size: 60% 60%;
        background-position: center;

        @include desktop {
          width: vw(127);
          height: vw(127);
        }
      }
    }

    &--2 {
      @include desktop {
        flex: unset;
        width: vw(218);
        margin-right: vw(116);
      }

      #{$this}__imgDiv {
        width: vwm(37);
        height: vwm(34);
        background: url("../images/icons/Benefits/ben2.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-size: 60% 60%;
        background-position: center;

        @include desktop {
          width: vw(127);
          height: vw(127);
        }
      }
    }

    &--3 {
      @include desktop {
        flex: unset;
        width: vw(196);
        margin-right: vw(110);
      }

      #{$this}__imgDiv {
        width: vwm(37);
        height: vwm(34);
        background: url("../images/icons/Benefits/ben3.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-size: 60% 60%;
        background-position: center;

        @include desktop {
          width: vw(127);
          height: vw(127);
        }
      }
    }

    &--4 {
      @include desktop {
        flex: unset;
        width: vw(222);
      }

      #{$this}__imgDiv {
        width: vwm(37);
        height: vwm(34);
        background: url("../images/icons/Benefits/ben4.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-size: 60% 60%;
        background-position: center;

        @include desktop {
          width: vw(127);
          height: vw(127);
        }
      }
    }

    #{$this}__imageWrapper {
      position: relative;
      height: (49vw / 3.75);
      width: (49vw / 3.75);

      @include desktop {
        margin-top: 3.177vw;
        height: 4.63vw;
        width: 4.63vw;
      }

      img {
        position: relative;
        z-index: 1;
        min-width: 100%;
      }
    }

    & h4 {
      font-size: 2.6vw;
      font-size: (12vw / 3.75);
      font-weight: 700;
      margin-left: vwm(36);

      @include desktop {
        width: 100%;
        max-width: unset;
        margin-left: unset;
        text-align: center;
        font-size: vw(12);
        height: vw(12);
        border-radius: 63px;
        white-space: nowrap;
        margin-top: vw(50);
      }
    }

    #{$this}__arrowImg {
      width: vwm(14);
      height: vwm(10);
      background: url(../images/icons/General/redArrow.svg);
      background-size: contain;
      background-repeat: no-repeat;
      margin-left: auto;
      margin-right: 5vw;
      @include transform(rotate(90deg));

      @include desktop {
        display: none;
      }
    }

    & p {
      flex: 0 100%;
      font-size: (10vw / 3.75);
      font-weight: 400;
      line-height: ((43vw / 3) / 3.75);
      height: (43vw / 3.75);
      margin-top: (18vw / 3.75);
      max-width: (154vw / 3.75);
      text-align: center;
      display: none;

      @include desktop {
        display: block;
        font-size: vw(15);
        line-height: unset;
        color: #686b6e;
        margin-top: vw(19);
        flex: 110%;
        min-width: 100%;
        height: unset;
      }
    }

    #{$this}__btn {
      background-color: #779bc8;
      border-radius: 3vw;
      cursor: pointer;
      color: white;
      height: 2.65vw;
      width: 6.66vw;

      @include desktop {
        font-size: 0.83vw;
        font-weight: 700;
        color: #ffffff;
      }
    }
  }
}
