.eBanking {
  $this: &;

  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;
  padding: vwm(50) vwm(46) vwm(100) vwm(42);
  background: #f2f2f2;

  @include desktop {
    justify-content: center;
    padding: vw(172) vwm(0) vw(114) vwm(0);
  }

  &__slider {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    flex: 0 0 100%;
    margin-top: vwm(48);
    justify-content: center;
    height: vwm(161);

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url("../images/mask.png");
      background-size: 100% 100%;
      background-repeat: no-repeat;
      z-index: 0;
    }

    @include desktop {
      flex: 0 0 vw(711);
      order: 2;
      margin-left: vw(122);
      height: vw(406);
      margin-top: 0;
    }

    #{$this}__imagesContainer {
      align-items: flex-end;
      display: flex;
      flex-wrap: nowrap;
      flex: 0 0 vwm(216);
      justify-content: center;
      overflow-x: hidden;
      z-index: 1;
      max-height: vwm(145);
      margin-top: vwm(9);

      @include desktop {
        align-items: center;
        margin-top: vw(22);
        flex: 0 0 vw(545);
        justify-content: unset;
        position: relative;
        height: vw(363);
      }

      #{$this}__imagesSlidingRow {
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-end;

        &--position1 {
          @include transform(translateX(0%));
          transition: 1s transform;
        }

        &--position2 {
          @include transform(translateX(-100%));
          transition: 1s transform;
        }

        &--position3 {
          @include transform(translateX(-200%));
          transition: 1s transform;
        }

        &--position4 {
          @include transform(translateX(-300%));
          transition: 1s transform;
        }

        #{$this}__imgWrapper {
          align-items: flex-end;
          flex: 0 0 100%;
          display: flex;
          justify-content: center;
          height: vwm(145);

          @include desktop {
            height: vw(363);
          }

          img {
            height: vwm(145);

            @include desktop {
              width: unset;
            }
          }

          @include desktop {
            flex: 1 0 vw(545);
          }
        }
      }
    }

    #{$this}__sliderNav {
      position: absolute;
      display: flex;
      flex: 0 0 100%;
      justify-content: center;
      z-index: 2;
      bottom: vwm(-55);

      @include desktop {
        bottom: vw(-45);
        height: vw(12);
      }

      #{$this}__sliderBtn {
        background: url("../images/icons/Ebanking/grays.svg");
        background-size: contain;
        background-repeat: no-repeat;
        cursor: pointer;
        height: vwm(10);
        width: vwm(10);
        margin: vwm(50) vwm(5) 0 vwm(5);

        @include desktop {
          height: vw(12);
          margin: 0 vw(17/2) 0 vw(17/2);
          width: vw(12);
        }

        &--activeBtn {
          background: url("../images/icons/Ebanking/sl.svg");
          background-size: contain;
          background-repeat: no-repeat;
        }
      }
    }

    #{$this}__arrow {
      cursor: pointer;
      display: block;
      height: (13vw / 3.75);
      top: vwm(71);
      width: (17vw / 3.75);
      position: absolute;
      transition: 0.3s opacity;
      z-index: 20;

      @include desktop {
        height: vw(27);
        top: (229% / 4.976);
        width: vw(17);
      }

      &:active {
        opacity: 0.5;
        transition: 0.3s;
      }

      &--left {
        background: url("../images/icons/Ebanking/Levo.svg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        left: vw(-27);
      }

      &--right {
        background: url("../images/icons/Ebanking/Desno.svg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        right: vw(-27);
      }
    }
  }

  &__textDiv {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 100%;

    @include desktop {
      justify-content: unset;
      flex: 0 0 vw(409);
      align-content: flex-start;
    }

    & h2 {
      font-size: (20vw / 3.75);
      max-width: (217vw / 3.75);
      margin-top: (15vw / 3.75);
      min-width: 100%;

      @include desktop {
        margin-top: vw(75);
        text-align: unset;
        padding: 0;
        font-size: vw(30);
        max-height: vw(30);
        font-weight: 500;
        line-height: unset;
      }
    }

    & p {
      font-size: vwm(14.5);
      margin-top: (26vw / 3.75);

      @include desktop {
        line-height: vw(24);
        color: #686b6e;
        margin-top: vw(29);
        min-width: unset;
        text-align: left;
        width: (467% / 5.26);
        font-size: vw(16);
      }

      & span {
        display: none;

        @include desktop {
          display: inline;
        }
      }
    }

    #{$this}__btn {
      cursor: pointer;
      color: #e60028;
      font-size: (16vw / 3.75);
      margin-top: (36vw / 3.75);
      margin-right: auto;

      @include desktop {
        margin-top: vw(25);
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-size: vw(16);
        font-weight: 500;
        line-height: vw(24);
        color: #e60028;
      }

      &:hover {
        color: rgb(177, 174, 174);
        transition: 0.5s;
      }

      #{$this}__imgDiv {
        width: vwm(20);
        height: vwm(10);
        background: url("../images/icons/General/redArrow.svg");
        display: inline-block;
        background-size: contain;
        background-repeat: no-repeat;

        @include desktop {
          width: vw(14);
          height: vw(11);
          margin-left: vw(11);
        }
      }
    }
  }
}
