.footer {
  $this: &;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  background: #ffffff;

  @include desktop {
    padding: vw(121) vw(0) vw(0) vw(0);
    justify-content: flex-start;
  }

  #{$this}__borderBottomDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: 0 0 100%;

    @include desktop {
      border-bottom: 3px solid #f2f2f2;
    }

    #{$this}__map {
      flex: 0 0 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      height: vwm(238);
      position: relative;
      background: url("../images/mapa.jpg");
      background-size: 100% 100%;

      @include desktop {
        flex: 0 0 50%;
        height: vw(328);
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #e60028;
        opacity: 0.78;
        z-index: 2;
      }

      & h2 {
        font-weight: 500;
        position: relative;
        font-size: vwm(21);
        color: #ffffff;
        z-index: 3;

        @include desktop {
          font-size: vw(32);
        }
      }

      & button {
        border-radius: vwm(28);
        margin-top: vwm(16);
        position: relative;
        width: vwm(249);
        height: vwm(60);
        background: #ffffff;
        color: #e60028;
        font-size: vwm(15);
        z-index: 3;

        @include desktop {
          width: vw(249);
          height: vw(60);
          font-size: vw(16);
          margin-top: vw(30);
        }
      }
    }

    #{$this}__online {
      position: relative;
      background: url("../images/mobile/onlineM.jpg");
      flex: 0 0 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      height: vwm(290);
      background-size: 100% 100%;
      background-repeat: no-repeat;

      @include desktop {
        background: url("../images/online.jpg");
        background-size: 100% 100%;
      }

      @include desktop {
        flex: 0 0 50%;
        height: vw(328);
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: 0.68;
        z-index: 1;
        background-repeat: no-repeat;
        background-size: 100% 100%;
      }

      & h2 {
        font-weight: 500;
        position: relative;
        font-size: vwm(21);
        color: #ffffff;
        z-index: 3;
        text-align: center;

        @include desktop {
          font-size: vw(32);
        }
      }

      & button {
        border-radius: vwm(28);
        margin-top: vwm(16);
        position: relative;
        width: vwm(198);
        height: vwm(60);
        background: #ffffff;
        color: #e60028;
        font-size: vwm(15);
        z-index: 3;

        @include desktop {
          width: vw(198);
          height: vw(60);
          font-size: vw(16);
          margin-top: vw(30);
        }
      }

      #{$this}__returnImage {
        display: none;
        transition: 0.3s;

        &:hover {
          transition: 0.3s;

          @include desktop {
            box-shadow: 0px 0.2vw 7px gray;
          }
        }

        @include desktop {
          border-radius: 50%;
          display: block;
          position: absolute;
          right: vw(87);
          bottom: vw(-35);
          height: vw(70);
          width: vw(70);
          background: url("../images/return.svg");
          background-size: cover;
          background-repeat: no-repeat;
          z-index: 2;
          box-shadow: 0px 0.2vw 4px gray;
          cursor: pointer;
        }

        &::before {
          border-radius: 50%;
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: white;
          opacity: 0.7;
          z-index: 1;
        }

        &::after {
          border-radius: 50%;
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: url("../images/icons/General/arrow.svg");
          opacity: 0.7;
          z-index: 3;
          background-size: vw(16) vw(19);
          background-repeat: no-repeat;
          background-position: 50%;
        }

        #{$this}__returnText {
          display: none;

          @include desktop {
            display: block;
            position: absolute;
            bottom: vw(-30 - 14);
            min-width: 200%;
            left: -50%;
            text-align: center;
            height: vw(30);
            line-height: vw(17);
          }
        }
      }
    }
  }

  #{$this}__career {
    position: relative;
    flex: 0 0 100%;
    height: vwm(421);
    padding: vwm(119) vwm(31) vwm(82) vwm(31);

    @include desktop {
      flex: 0 0 vw(508);
      padding: vw(146) vw(0) vw(179) vw(59);
      height: vw(529);
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url("../images/footer1.jpg");
      background-size: 100% 100%;
      opacity: 0.1;
      z-index: 1;
    }

    #{$this}__textDiv {
      position: relative;
      z-index: 2;
      display: flex;
      flex-wrap: wrap;
      flex: 0 0 100%;

      @include desktop {
        justify-content: unset;
        flex: 0 0 vw(409);
        align-content: flex-start;
      }

      & h2 {
        font-size: (20vw / 3.75);
        max-width: (217vw / 3.75);
        margin-top: (15vw / 3.75);
        min-width: 100%;

        @include desktop {
          margin-top: vw(0);
          text-align: unset;
          padding: 0;
          font-size: vw(30);
          height: vw(31);
          font-weight: 500;
        }
      }

      & p {
        font-size: vwm(14.5);
        margin-top: (26vw / 3.75);
        color: #7e8083;

        @include desktop {
          line-height: vw(23);
          margin-top: vw(21);
          width: vw(367);
          font-size: vw(16);
          height: vw(87);
        }

        & span {
          display: none;

          @include desktop {
            display: inline;
          }
        }
      }

      #{$this}__btn {
        cursor: pointer;
        color: #e60028;
        font-size: (16vw / 3.75);
        margin-top: (36vw / 3.75);
        margin-right: auto;

        @include desktop {
          margin-top: vw(48);
          display: flex;
          align-items: center;
          justify-content: flex-start;
          font-size: vw(16);
          font-weight: 500;
          height: vw(16);
          color: #e60028;
          transition: 0.5s;
        }

        span {
          display: inline-block;
          height: vw(16);
        }

        &:hover {
          opacity: 0.7;
          transition: 0.5s;
        }

        #{$this}__imgDiv {
          width: vwm(20);
          height: vwm(10);
          background: url("../images/icons/General/red.png");
          display: inline-block;
          background-size: contain;
          background-repeat: no-repeat;

          @include desktop {
            width: vw(14);
            height: vw(11);
            margin-left: vw(11);
          }
        }
      }
    }
  }

  #{$this}__links {
    color: #a6a6a6;
    font-size: vwm(14);
    flex: 0 0 100%;
    padding: vwm(44) vwm(0) vwm(44) vwm(51);

    @include desktop {
      flex: 0 0 vw(616);
      padding: vw(92) vw(0) vw(81) vw(76);
      height: vw(529);
    }

    #{$this}__linksWrapper {
      position: relative;
      height: vwm(270);
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @include desktop {
        height: vw(123 + 12 + 15 + 30);
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: space-between;
        width: vw(101 + 186 + 119);
      }

      & div {
        @include desktop {
          height: vw(12);
          margin-bottom: vw(32);
        }
      }

      & a {
        letter-spacing: vwm(1);
        display: block;
        transition: 0.3s;

        &:hover {
          opacity: 0.6;
          transition: 0.3s;
        }

        @include desktop {
          letter-spacing: vw(2);
          font-size: vw(15);
          height: vw(12);
        }
      }
    }
  }

  #{$this}__social {
    padding: vwm(46) vwm(30) vwm(33) vwm(0);
    flex: 0 0 100%;
    color: #a6a6a6;
    font-size: vwm(14);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;

    @include desktop {
      display: block;
      padding: vw(81 - 30) vw(31) vw(80) vw(0);
      flex: 0 0 100%;
      font-size: vw(15);
      height: vw(12);
      align-items: unset;
    }

    #{$this}__socialLinks {
      width: vwm(116);
      height: vwm(19);
      margin-right: vwm(20);
      display: flex;
      justify-content: space-between;

      @include desktop {
        margin-top: vw(20);
        height: vw(22);
        width: vw(131);
        margin-right: unset;
      }

      #{$this}__socialLink {
        transition: 0.3s;
        width: auto;
        display: inline-block;
        width: vwm(116 / 4);
        @include desktop {
          flex: auto;
          width: auto;
          cursor: pointer;
        }

        &--1 {
          height: 100%;

          background: url("../images/icons/Nav/2/instagram.svg");
          background-size: contain;
          background-repeat: no-repeat;

          @include desktop {
            height: 100%;
            max-width: vw(210);
          }
        }

        &--2 {
          display: flex;

          height: 100%;

          background: url("../images/icons/Nav/2/twitter.svg");
          background-size: contain;
          background-repeat: no-repeat;
          background-position: 50%;

          @include desktop {
            height: 100%;
            max-width: vw(210);
          }
        }

        &--3 {
          height: 100%;

          background: url("../images/icons/Nav/2/facebook.svg");
          background-size: contain;
          background-repeat: no-repeat;
          background-position: 50%;

          @include desktop {
            height: 100%;
            max-width: vw(210);
          }
        }

        &--4 {
          background: url("../images/icons/Nav/2/linkedin.svg");
          background-size: contain;
          background-repeat: no-repeat;
          background-position: 100% 0;
          @include desktop {
            height: 100%;
            max-width: vw(210);
          }
        }

        &:active {
          transition: 0.3s;
          opacity: 0.4;
        }

        &:hover {
          opacity: 0.6;
          transition: 0.3s;
        }
      }
    }

    #{$this}__storeLinks {
      display: flex;
      justify-content: space-between;
      width: vwm(318);
      height: vwm(29);
      margin-left: vwm(-21);
      margin-top: vwm(70);

      @include desktop {
        margin-top: vw(79);
        margin-left: vw(131);
        height: vw(34);
        width: vw(363);
      }

      #{$this}__storeLink {
        transition: 0.3s;
        height: 100%;
        width: vwm(100);

        @include desktop {
          width: vw(114);
        }
        @include desktop {
          cursor: pointer;
        }

        &:active {
          transition: 0.3s;
          opacity: 0.4;
        }

        &:hover {
          opacity: 0.6;
          transition: 0.3s;
        }

        &--1 {
          background: url("../images/store1.png");
          background-size: cover;
          background-repeat: no-repeat;
        }

        &--2 {
          background: url("../images/store2.png");
          background-size: cover;
          background-repeat: no-repeat;
        }

        &--3 {
          background: url("../images/store3.png");
          background-size: cover;
          background-repeat: no-repeat;
        }
      }
    }

    & > :first-child {
      margin-left: vwm(0);

      @include desktop {
        margin-left: 0;
      }
    }
  }

  #{$this}__mobile {
    position: relative;
    flex: 0 0 100%;
    height: vwm(280);
    overflow: hidden;

    & > div {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: url("../images/telefon.png");
      background-size: vwm(209) vwm(427);
      background-repeat: no-repeat;
      background-position: 50% 0%;
      @include transform(translatey(vwm(300)));

      @include desktop {
        @include transform(translatey(vw(500)));
        background-size: vw(238) vw(484);
        background-position: 0 vw(185);
      }
    }

    @include desktop {
      flex: 1 0 auto;
      height: vw(529);
    }
  }

  #{$this}__bottomSection {
    padding: vwm(43) vwm(0) vwm(45) vwm(53);
    flex: 0 0 100%;
    color: #a6a6a6;
    font-size: vwm(14);
    background: #ffffff;

    @include desktop {
      flex: 0 0 100%;
      border-top: 2px solid #cccccc;
      padding: vw(0) vw(60) vw(0) vw(53);
      font-size: vw(12);
    }

    #{$this}__bottomLinks {
      height: vwm(207);
      flex-direction: column;
      display: flex;
      justify-content: space-between;

      @include desktop {
        flex-direction: row;
        height: vw(84);
        padding-top: vw(28);
      }

      #{$this}__leftLinks {
        flex-direction: column;
        display: flex;
        justify-content: space-between;
        min-height: vwm(207);
        align-content: space-between;

        @include desktop {
          flex-direction: row;
          flex: 0 0 vw(1078);
          min-height: unset;
        }

        #{$this}__bottomLink {
          @include desktop {
            height: vw(12);
          }

          &:hover {
            opacity: 0.7;
          }
        }

        & > :last-child {
          margin-top: vwm(3);

          @include desktop {
            margin-top: 0;
          }
        }
      }
    }

    #{$this}__languages {
      margin-top: vwm(30);
      color: #7e8083;
      font-size: vwm(15);
      width: vwm(80);
      display: flex;
      justify-content: space-between;
      padding-bottom: vwm(42);

      @include desktop {
        width: vw(80);
        display: inline-flex;
        font-size: vw(14);
        margin-top: unset;
        padding-bottom: unset;
      }

      & span:not(:nth-child(2)) {
        cursor: pointer;

        &:hover {
          opacity: 0.7;
        }
      }

      & span:active:not(:nth-child(2)) {
        color: #e60028;
        @include desktop {
          height: vw(14);
          display: inline-flex;
        }
      }
    }
  }
}
