.header {
  $this: &;
  $contentWidth: 1440 - 60 - 46;

  background: transparent;
  position: sticky;
  top: 0;
  transition: 0.3s;
  width: 100%;
  -webkit-backface-visibility: hidden;
  z-index: 50;
  padding: 0 vwm(17) 0 vwm(16);
  height: vwm(40);

  @include desktop {
    position: -webkit-sticky;
    position: sticky;
    display: flex;
    justify-content: center;
    padding: 0;
    height: unset;
  }

  &--translated {
    background-color: rgba(255, 255, 255, 0.637);

    @include desktop {
      transition: 0.3s;
    }
  }

  &__nav {
    display: flex;
    justify-content: space-between;

    @include desktop {
      height: unset;
      justify-content: flex-start;
      width: vw($contentWidth);
    }

    #{$this}__logoWrapper {
      align-items: flex-start;
      display: flex;
      height: vwm(29);
      flex: 0 0 (192vw / 3.75);
      margin-top: vwm(10);
      transition: 0.3s;
      position: relative;

      @include desktop {
        height: vw(37);
        flex: 0 0 5vw;
        margin-top: vw(46);
        flex: 0 0 vw(246);
        margin-left: vw(10);
      }

      & picture {
        max-height: 100%;

        & img {
          @include desktop {
            max-height: 100%;
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
          }
        }
      }

      &--smaller {
        @include transform(scale(0.9) translate3d(0, 0, 0));
        -webkit-transform-style: preserve-3d;
        -webkit-backface-visibility: hidden;
        transition: 0.3s;

        @include desktop {
          @include transform(scale(1) translate3d(0, 0, 0));
        }
      }
    }

    #{$this}__search {
      align-items: center;
      position: relative;
      display: flex;
      width: vwm(23);
      height: vwm(21);
      margin-right: vwm(57);
      background: url("../images/icons/Nav/2/search.svg");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      z-index: -2;

      @include desktop {
        width: vw(23);
        height: vw(23);
        margin-right: unset;
        margin-left: vw(43);
        cursor: pointer;
        margin-top: vw(55);
        z-index: 20;
      }
    }

    #{$this}__close {
      display: none;
      color: #9b9b9b;
      margin-left: 10vw;
      position: absolute;
      z-index: 10;
      font-size: 4vw;
      height: 2vw;

      &--visible {
        display: inline-block;
        top: 50%;
        @include transform(translatey(-50%));
      }
    }

    #{$this}__hamburgerBtn {
      position: relative;
      align-items: center;
      display: flex;
      width: vwm(21);
      height: vwm(21);
      background-image: url("../images/icons/Responsive/menu.svg");
      z-index: 10;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;

      @include desktop {
        display: none;
      }

      &--mobileVisible {
        background-image: url("../images/icons/Nav/close.svg");
      }
    }

    #{$this}__navButtons {
      align-items: flex-start;
      align-content: flex-start;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      position: absolute;
      background: #000;
      transition: 1s;
      flex: 0 0 100%;
      min-width: 100%;
      padding: 0 0 2vw 0;
      @include transform(translateX(100vw));
      height: calc(100vh - (36vw / 3.8));

      @include desktop {
        background-color: unset;
        height: unset;
        position: relative;
        justify-content: flex-end;
        width: vw($contentWidth - 246 - 71);
        flex-wrap: nowrap;
        @include transform(translateX(0%));
        padding: 0;
        flex: unset;
        min-width: unset;
        font-weight: normal;
      }

      &--mobileVisible {
        @include transform(translateX(vwm(-16)));
        transition: 1s;
      }

      #{$this}__social {
        width: vwm(20);
        height: vwm(20);
        background-size: contain;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 5vw;
        margin-right: 5vw;
        margin-bottom: 5vw;

        @include desktop {
          display: none;
        }

        &--1 {
          background-image: url("../images/icons/Nav/instagram.png");
          margin-left: vwm(16);
        }

        &--2 {
          background-image: url("../images/icons/Nav/twitter.png");
        }

        &--3 {
          background-image: url("../images/icons/Nav/facebook.png");
          width: vwm(10);
        }

        &--4 {
          background-image: url("../images/icons/Nav/linkedin.png");
        }
      }

      #{$this}__simpleButtonsDiv {
        width: 100%;

        @include desktop {
          cursor: pointer;
          display: flex;
          transition: 0.3s;
          margin-top: 0;
          margin-right: 0;
          width: vw($contentWidth - 246 - 71 - 223 - 114);
          margin-top: vw(57);
        }
      }

      #{$this}__dropDownDiv {
        @include desktop {
          width: vw(92);
          margin-left: vw(71);
        }

        a {
          color: #ffffff;
          padding-left: vwm(16);

          @include desktop {
            padding-left: 0;
            color: #000;
          }
        }

        .dropdownToggle {
          position: relative;

          & .transparent {
            display: none;

            @include desktop {
              display: block;
              top: 0;
              position: absolute;
              height: vw(24);
              width: vw(92);
            }
          }

          #{$this}__dropdown {
            position: relative;
            display: flex;
            flex-direction: column;
            font-size: vwm(11);
            display: none;

            @include desktop {
              position: absolute;
              background: #ffffff;
              width: vw(236);
              top: vw(24);
              max-height: vw(371);
              font-size: vw(11);
              margin-left: vw(-28);
              padding: vw(32) vw(45) vw(30) vw(27);
              border-top: vw(4) solid #ff0000;
            }

            &--visible {
              display: block;

              @include desktop {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
              }
            }

            & > div {
              background: #252525;
              height: vwm(30);
              border: none;
              outline: none;
              padding-left: vwm(2);
              display: flex;
              align-items: center;

              @include desktop {
                background: #ffffff;
                height: unset;
              }

              & > a {
                border: none;
                outline: none;
                color: #808080;
                @include desktop {
                  color: #7e8083;
                }

                &:hover {
                  color: #ffffff;
                  @include desktop {
                    color: #e50229;
                  }
                }

                &:active {
                  color: #ffffff;
                  @include desktop {
                    color: #e50229;
                  }
                }

                @include desktop {
                  font-size: vw(14);
                }
              }

              &:not(:first-child) > a {
                border: none;
                outline: none;

                @include desktop {
                  text-transform: lowercase;
                }

                &:first-letter {
                  @include desktop {
                    text-transform: uppercase;
                  }
                }
              }
            }

            @include desktop {
              position: absolute;
              width: vw(236);
              height: vw(371);
            }
          }
        }
      }

      #{$this}__navBtn {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        flex: 0 0 100%;
        justify-content: flex-start;
        background-color: #000000;
        padding-left: vwm(16);
        border-bottom: 1px solid gray;
        color: #ffffff;

        @include desktop {
          border-bottom: none;
          border-left: none;
          padding-left: 0;
        }

        &--1 {
          border-top: 1px solid gray;

          @include desktop {
            position: relative;
            padding-left: unset;
            border-top: none;
            border-left: none;
            width: vw(92);
            min-width: vw(92);
            max-width: vw(92);
          }

          #{$this}__mobArrow {
            height: vwm(9);
            width: vwm(15);
            background: url("../images/icons/Nav/mobArr.svg");
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            margin-left: auto;
            margin-right: vwm(23);
            transition: 0.5s;
            display: inline-block;

            @include desktop {
              height: vw(5);
              width: vw(8);
              position: absolute;
              left: vw(92 + 10);
              z-index: 5;
            }

            &--rotated {
              @include transform(rotate(180deg));
            }
          }
        }

        &--activeBtn {
          border-left: vwm(6) solid red;
          padding-left: vwm(10) !important;
        }

        &--2 {
          @include desktop {
            margin-left: vw(50);
            min-width: vw(77);
            max-width: vw(77);
          }
        }

        &--3 {
          @include desktop {
            margin-left: vw(40);
            min-width: vw(60);
            max-width: vw(60);
          }
        }

        &--4 {
          @include desktop {
            margin-left: vw(37);
            min-width: vw(146);
            // max-width: vw(146);
          }
        }

        &--5 {
          @include desktop {
            margin-left: vw(35);
            min-width: vw(61);
            max-width: vw(61);
          }
        }

        &--6 {
          @include desktop {
            margin-left: vw(114);
          }
        }

        @include desktop {
          flex: unset;
          background: unset;
          height: (13vw / 19.2) * 1.2;
          line-height: (13vw / 19.2) * 1.2;
        }

        & > span {
          color: #ffffff;
          font-weight: 700;
          font-size: vwm(13);
          margin: 3vw 0;
          display: flex;
          align-items: center;
          justify-content: center;

          @include desktop {
            font-size: vw(15.5);
            line-height: vw(46);
            line-height: vw(0);
            color: #ffffff;
            font-weight: 500;
            margin: 0;
            display: inline-block;
            text-transform: lowercase;
          }

          &:first-letter {
            @include desktop {
              text-transform: uppercase;
            }
          }

          &:hover {
            color: #e50027;
            transition: 0.3s;
          }
        }

        &--big {
          display: none;

          @include desktop {
            display: inline-flex;
            justify-content: center;
            width: vw(223);
            height: vw(45);
            border-radius: vw(23);
            background-color: #e50027;
            color: white;
            font-size: vw(15.5);
            line-height: vw(46);
            color: #ffffff;
            font-weight: bold;
            margin-top: vw(41);
            transition: 0.5s;

            &:hover {
              transition: 0.5s;
              opacity: 0.8;
            }
          }
        }
      }

      & + div {
        display: flex;
        margin-top: vwm(15);

        @include desktop {
          width: unset;
          flex: auto;
          margin-top: vw(0);
        }
      }

      #{$this}__additionalNavMob {
        display: flex;
        flex-wrap: wrap;
        padding-left: vwm(16);
        font-size: vwm(13);
        font-weight: 700;

        @include desktop {
          display: none;
        }

        & > * {
          flex: 0 0 40%;
          margin-top: vwm(20);
          color: #ffffff;
        }

        & > :last-child {
          margin-top: vwm(30);

          & > *:active {
            color: red;
          }
        }
      }
    }
  }
}
