.magazine {
  $this: &;

  display: flex;
  flex-wrap: wrap;
  flex: 0 0 100%;
  justify-content: center;
  padding: vwm(32) vwm(32) vwm(32) vwm(32);
  background: #ffffff;

  @include desktop {
    padding: vw(156) vw(0) vw(92) vw(0);
  }

  & h2 {
    display: flex;
    flex: 0 0 100%;
    font-size: (21.2vw / 3.75);
    justify-content: center;

    @include desktop {
      font-size: vw(32);
      line-height: vw(32);
      font-weight: 700;
      height: (36vw /19.2);
      margin-top: unset;
    }
  }

  &__article {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: vwm(50);
    flex: 0 0 100%;

    @include desktop {
      font-size: 0.78vw;
      margin: 0 vw(62/2);
    }

    &--1 {
      margin-top: (37vw / 3.75);

      @include desktop {
        margin-top: vw(67);
        flex: 0 0 vw(357);
      }

      & p {
        @include desktop {
          max-width: vw(350);
        }
      }
    }

    &--2 {
      margin-top: (40vw / 3.75);

      @include desktop {
        margin-top: vw(67);
        flex: 0 0 vw(359);
      }
    }

    &--3 {
      margin-top: (38vw / 3.75);

      @include desktop {
        margin-top: vw(67);
        flex: 0 0 vw(361);
      }
    }

    & h3 {
      font-size: 2.6vw;
      flex: 1 0 100%;
      font-size: (13vw / 3.75);
      font-weight: 700;
      margin-bottom: (17vw / 3.8);

      @include desktop {
        font-size: vw(15);
        letter-spacing: vw(2);
        line-height: vw(15);
        color: #666666;
        font-weight: bold;
        margin-bottom: vw(19);
        max-width: unset;
      }
    }

    #{$this}__imageWrapper {
      position: relative;
      height: (180vw / 3.8);
      width: (318vw / 3.8);

      @include desktop {
        margin-top: 3.177vw;
        height: 4.63vw;
        width: 100%;
        height: vw(205);
      }

      img {
        position: relative;
        z-index: 1;
        min-width: 100%;
      }
    }

    & h4 {
      font-size: vwm(17);
      flex: 1 0 100%;
      font-weight: 700;
      margin-top: (17vw / 3.75);

      @include desktop {
        font-size: vw(21.5);
        height: vw(48);
        margin-top: vw(40);
        max-width: unset;
      }

      & span {
        @include desktop {
          display: none;
        }
      }
    }

    & p {
      display: none;

      @include desktop {
        display: block;
        height: vw(136);
        font-size: vw(19.1);
        line-height: vw(21);
        color: #686b6e;
        margin-top: vw(40);
      }
    }

    #{$this}__btn {
      cursor: pointer;
      color: #e60028;
      font-size: (16vw / 3.75);
      margin-top: (36vw / 3.75);
      margin-right: auto;

      @include desktop {
        margin-top: vw(27);
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-size: vw(16);
        font-weight: 500;
        line-height: vw(24);
        color: #e60028;
      }

      &:hover {
        opacity: 0.7;
        transition: 0.5s;
      }

      #{$this}__imgDiv {
        width: vwm(20);
        height: vwm(10);
        background: url("../images/icons/General/red.png");
        display: inline-block;
        background-size: contain;
        background-repeat: no-repeat;

        @include desktop {
          width: vw(14);
          height: vw(11);
          margin-left: vw(11);
        }
      }
    }
  }
}
