.special {
  $this: &;
  $contentWidth: 1437 - 59 - 46;
  position: relative;
  z-index: 25;

  display: flex;
  flex-wrap: wrap;
  flex: 0 0 100%;
  justify-content: center;

  @include desktop {
  }

  #{$this}__titlesGroup {
    align-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include desktop {
      justify-content: center;
    }

    & h2 {
      display: flex;
      flex: 0 0 (190vw / 3.75);
      font-size: (21.2vw / 3.75);
      max-width: (190w / 3.75);

      @include desktop {
        font-size: (51.5vw / 19.2);
        font-weight: 700;
        height: (36vw /19.2);
        margin-top: unset;
        justify-content: center;
        line-height: 1.875vw;
      }

      span {
        width: unset;
        display: inline;
        justify-content: center;
        text-align: center;

        & > strong {
          color: #8a5b9d;
        }
      }
    }

    & h3 {
      font-size: (11vw / 3.75);
      flex: 0 0 100%;
      display: flex;
      margin-top: (28vw / 3.75);
      line-height: ((29vw / 2) / 3.75);
      text-align: justify;
      -moz-text-align-last: center;
      text-align-last: center;
      max-width: 41.197vw;
      min-width: 100%;
      word-break: keep-all;

      span {
        max-width: 70vw;
        text-align: center;

        @include desktop {
          text-align: unset;
          max-width: unset;
        }
      }

      @include desktop {
        font-size: (17vw / 19.2) * 1.2;
        font-weight: 400;
        height: (49vw / 19.2) * 1.2;
        line-height: ((49vw / 2) / 19.2) * 1.2;
        margin-bottom: unset;
        min-width: unset;
        justify-content: center;
        text-align: center;
      }
    }

    #{$this}__hideOnMob {
      display: none;

      @include desktop {
        display: inline;
      }
    }

    #{$this}__break {
      @include desktop {
        display: none;
      }
    }
  }

  &__article {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 80%;
    border: 1px solid lightgray;

    @include desktop {
      font-size: 0.78vw;
      flex: 0 0 33%;
      width: vw(482);
      height: vw(548);
    }

    &--1 {
      margin-top: vwm(-80);

      @include desktop {
        margin-top: vw(-112);
        margin-right: vw(49 / 2);
      }

      #{$this}__first {
        padding: vwm(6) vwm(20) vwm(50) vwm(26);

        @include desktop {
          height: vw(293);
          padding: vw(0) vw(60) 0 vw(60);
        }

        & h4 {
          font-size: 4vw;
          font-weight: 700;
          text-align: left;
          margin-top: (17vw / 3.75);
          -webkit-hyphens: auto;
          -moz-hyphens: auto;
          -ms-hyphens: auto;
          hyphens: auto;

          @include desktop {
            font-size: vw(21);
            line-height: vw(26);
            color: #000000;
            font-weight: 500;
            max-width: unset;
            margin-top: vw(57);
            max-width: vw(344);
            height: vw(21);
          }
        }

        p {
          margin-top: (18vw / 3.75);

          @include desktop {
            margin-top: vw(22);
          }
        }

        #{$this}__btn {
          cursor: pointer;
          margin-top: vwm(29);
          display: block;
          color: #e60028;
          display: flex;
          align-items: center;

          @include desktop {
            position: absolute;
            font-size: vw(16);
            line-height: vw(24);
            color: #e60028;
            font-weight: 500;
            margin-top: vw(63);
          }

          #{$this}__btnImg {
            background: url("../images/icons/General/redArrow.svg");
            display: inline-block;
            background-size: contain;
            background-repeat: no-repeat;
            height: vwm(15);
            width: vwm(15);
            margin-left: 2vw;

            @include desktop {
              height: vw(14);
              width: vw(14);
            }
          }
        }
      }

      #{$this}__meeting {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        border-top: 1px solid lightgray;

        @include desktop {
          height: vw(255);
        }
        & p {
          flex: 0 100%;
          font-size: vwm(12);
          font-weight: 400;
          margin-top: vwm(51);
          text-align: center;
          max-width: vwm(194);

          @include desktop {
            margin-top: vw(55);
            max-width: vw(313);
            height: vw(36);
            font-size: vw(13);
            color: #686b6e;
          }
        }

        & button {
          width: vwm(197);
          height: vwm(48);
          background: #e60028;
          color: #ffffff;
          font-size: vwm(14);
          margin-top: vwm(24);
          margin-bottom: vwm(54);

          @include desktop {
            margin-top: vw(69);
            height: vw(54);
            width: vw(223);
            font-size: vw(16);
            letter-spacing: vw(0);
            color: #ffffff;
            font-weight: 500;
          }
        }
      }
    }

    &--2 {
      margin-top: (40vw / 3.75);

      @include desktop {
        margin-top: vw(-112);
        margin-left: vw(49 / 2);
      }

      #{$this}__first {
        padding: vwm(6) vwm(20) vwm(50) vwm(26);

        @include desktop {
          height: vw(293);
          padding: vw(0) vw(69) 0 vw(60);
        }

        & h4 {
          font-size: 4vw;
          font-weight: 700;
          text-align: left;
          margin-top: (17vw / 3.75);
          -webkit-hyphens: auto;
          -moz-hyphens: auto;
          -ms-hyphens: auto;
          hyphens: auto;

          @include desktop {
            font-size: vw(21);
            line-height: vw(26);
            color: #000000;
            font-weight: 500;
            max-width: unset;
            margin-top: vw(55);
            max-width: vw(344);
          }
        }

        p {
          margin-top: (18vw / 3.75);

          @include desktop {
            margin-top: vw(26);
          }
        }

        #{$this}__btn {
          cursor: pointer;
          margin-top: vwm(29);
          display: block;
          color: #e60028;
          display: flex;
          align-items: center;

          @include desktop {
            font-size: vw(16);
            line-height: vw(24);
            color: #e60028;
            font-weight: 500;
            margin-top: vw(38);
          }

          #{$this}__btnImg {
            background: url("../images/icons/General/redArrow.svg");
            display: inline-block;
            background-size: contain;
            background-repeat: no-repeat;
            height: vwm(15);
            width: vwm(15);
            margin-left: 2vw;

            @include desktop {
              height: vw(14);
              width: vw(14);
            }
          }
        }
      }

      h4 {
        max-width: 60%;

        @include desktop {
          height: vw(43);
          max-width: vw(344);
        }
      }

      #{$this}__meeting {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        border-top: 1px solid lightgray;

        @include desktop {
          height: vw(255);
        }

        & p {
          flex: 0 100%;
          font-size: vwm(12);
          font-weight: 400;
          margin-top: vwm(51);
          text-align: center;
          max-width: vwm(194);

          @include desktop {
            margin-top: vw(55);
            max-width: vw(313);
            height: vw(36);
            font-size: vw(13);
            color: #686b6e;
          }
        }

        & button {
          width: vwm(197);
          height: vwm(48);
          background: #e60028;
          color: #ffffff;
          font-size: vwm(14);
          margin-top: vwm(24);
          margin-bottom: vwm(54);

          @include desktop {
            margin-top: vw(69);
            height: vw(54);
            width: vw(223);
            font-size: vw(16);
            letter-spacing: vw(0);
            color: #ffffff;
            font-weight: 500;
          }
        }
      }
    }

    #{$this}__first {
      background: #f7f7f7;

      & span {
        display: none;

        @include desktop {
          display: inline;
        }
      }

      & p {
        flex: 0 100%;
        font-size: 3.5vw;
        font-weight: 400;
        text-align: left;
        width: 90%;

        @include desktop {
          width: unset;
          font-size: vw(15);
          height: vw(84);
          color: #686b6e;
        }
      }
    }
  }
}
